* {
  box-sizing: border-box;
}

.naslov {
  color: indigo;
}

.paja {
  color: green;
}

.glavni {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.glavni img {
  max-width: 100%;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.glavni .prvi {
  background: rgba(0, 128, 0, 0.5);
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.glavni .drugi {
  background: rosybrown;
  grid-column: 1;
  grid-row: 1 / 3;
}

.zika {
  margin-top: 20px;
  color: #dcd914;
}

.spolja {
  margin: 20px 0 70px;
  height: 590px;
  gap: 7px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas: "nav nav nav nav" "side main main main" "side c1 c2 c3" "side fot fot fot";
}

.spolja > div {
  padding: 5px;
  border-radius: 8px;
}

.navbar {
  background: red;
  grid-area: nav;
}

.maina {
  background: chartreuse;
  grid-area: main;
}

.sidebar {
  background: #4c00ff;
  grid-area: side;
}

.con1 {
  background: crimson;
  grid-area: c1;
}

.con2 {
  background: #14dcc1;
  grid-area: c2;
}

.con3 {
  background: #14dc2f;
  grid-area: c3;
}

.footero {
  background: darkgoldenrod;
  grid-area: fot;
}

.napolju {
  margin: 20px 0 70px;
  gap: 7px;
  text-align: center;
  display: grid;
  grid-template: 50px 50px / 400px 2fr 1fr;
}

.napolju > div {
  padding: 5px;
  border-radius: 8px;
}

.napolju .plavi {
  background: blue;
}

.napolju .zeleni {
  background: #15ff00;
}

.napolju .crveni {
  background: red;
}

.napolju .zuti {
  background: #c3ff00;
}

.napolju .ljubicast {
  background: #b700ff;
}

.napolju .rozi {
  background: #ff00f2;
}

.fitara {
  margin: 20px 0 70px;
  gap: 7px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
}

.fitara > div {
  background: goldenrod;
  border: 2px solid red;
  padding: 5px;
  border-radius: 8px;
}

.fitara2 {
  margin: 20px 0 70px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fitara2 > div {
  width: 100px;
  height: 100px;
  background: #55da20;
  border: 2px solid #c300ff;
  padding: 5px;
  border-radius: 8px;
}

.slike {
  border: 4px solid blue;
  padding: 10px;
  background: chocolate;
  margin: 20px 50px 70px;
  display: grid;
  grid-gap: 5px;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 75px;
  grid-auto-flow: dense;
}

.slike img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slike .horizontal {
  grid-column: span 2;
}

.slike .vertical {
  grid-row: span 2;
}

.slike .big {
  grid-column: span 2;
  grid-row: span 2;
}

article {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  gap: 15px;
}

article > * {
  grid-column: 2;
  min-width: 0;
}

article > .flasa {
  grid-column: 1 / -1;
  background: #fadbdb;
}

article > .hema {
  grid-column: 3;
  color: grey;
  background: #ffffc3;
  font-size: 0.8rem;
}

article > .mika {
  grid-column: 1 / -2;
  background: #6e886e;
}

.papir {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-areas: "h h" "s m" "s f";
  margin: 30px 90px 50px;
}

.papir .h {
  background: rosybrown;
  grid-area: h;
}

.papir .s {
  background: lightblue;
  grid-area: s;
}

.papir .m {
  background: lightgreen;
  grid-area: m;
  align-self: start;
}

.papir .f {
  background: lightsalmon;
  grid-area: f;
  align-self: end;
}

@media only screen and (max-width: 800px) {
  .spolja {
    grid-template-columns: 0.8fr 1.2fr 1.2fr;
    grid-template-rows: 0.4fr 1.7fr 1.7fr 0.3fr;
    grid-template-areas: "nav nav nav" "side main c1" "side c2 c3" "fot fot fot";
  }
}

@media only screen and (max-width: 600px) {
  .spolja {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas: "nav" "side" "main" "c1" "c2" "c3" "fot";
  }
}
